<div class="article-share-box">
    <span>SHARE THIS ARTICLE</span>
    <div class="article-share-links">
        <a 
            href="https://www.facebook.com/sharer.php?u="
            id="share-link-facebook"
            target="_blank" title="Facebook">
            <img src="<%- url_for(theme.icons.facebook) %>"/>
        </a>
        <a
            href="https://twitter.com/intent/tweet?url="
            id="share-link-twitter"
            target="_blank" title="Twitter">
            <img src="<%- url_for(theme.icons.twitter) %>"/>
        </a>
    </div>
</div>
