article-padding = 20px

color-grey = #e6e6e6
color-light-grey = #ebebeb
color-default = #565a5f
color-grey = #999
color-border = #eceff2
color-link = #38b7ea
color-background = #f5f8f9
color-sidebar-text = #777
color-sidebar-text-dark = #333
color-widget-background = #ddd
color-widget-border = #ccc

color-twitter = #00aced
color-facebook = #3b5998
color-pinterest = #cb2027
color-google = #dd4b39

grid-phone = 576px
grid-tablet = 768px
grid-small-desktop = 992px
grid-large-desktop = 1200px

size-phone = 540px
size-tablet = 720px
size-small-desktop = 960px
size-large-desktop = 1140px

