color-grey = #e6e6e6
color-light-grey = #ebebeb

grid-phone = 576px
grid-tablet = 768px
grid-small-desktop = 992px
grid-large-desktop = 1200px

size-phone = 540px
size-tablet = 720px
size-small-desktop = 960px
size-large-desktop = 1140px

