<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<%
var title = page.title;
if (is_archive()){
    title = __('archive');
}
%>
<title><% if(title){ %><%= title %> | <% } %><%= config.title %></title>
<%- css('libs/font-awesome/css/font-awesome.min') %>
<%- css('css/style') %>
