<header class="header">
  <a class="blog-title" href="<%- url_for('/') %>">
    <%= config.title %>
  </a>
  <ul class="blog-nav">
    <% for(var i in config.menu){ %>
      <li class="menu-item">
        <a href="<%- url_for(config.menu[i]) %>"><%= __(i) %></a>
      </li>
    <% } %>
  </ul>
</header>