.container
    position: relative
    margin-left: auto
    margin-right: auto
    padding-right: 15px
    padding-left: 15px

@media (min-width: grid-phone)
    .container
        padding-right: 15px
        padding-left: 15px

@media (min-width: grid-tablet)
    .container
        padding-right: 15px
        padding-left: 15px

@media (min-width: grid-small-desktop)
    .container
        padding-right: 15px
        padding-left: 15px

@media (min-width: grid-large-desktop)
    .container
        padding-right: 15px
        padding-left: 15px

@media (min-width: grid-phone)
    .container
        width: size-phone
        max-width: 100%

@media (min-width: grid-tablet)
    .container
        width: size-tablet
        max-width: 100%

@media (min-width: grid-small-desktop)
    .container
        width: size-small-desktop
        max-width: 100%

@media (min-width: grid-large-desktop)
    .container
        width: size-large-desktop
        max-width: 100%
