a
    text-decoration:none
    color: #0D9CBE

p, ul, ol, dl
    margin: 1.6em, 0

ol ol, ul ul, ul ol, ol ul
    margin: 0.4em 0

figure.highlight .line
     height: 20px

#article-tag
    display: inline-block
    padding: 0 0 2em 1em
    > a
        float: left
        height: 24px
        line-height: 24px
        position: relative
        font-size: 11px
        margin-left: 20px
        padding:0 10px 0 12px
        background: #0089e0
        color: #fff!important
        text-decoration: none
        -moz-border-radius-bottomright: 4px
        -webkit-border-bottom-right-radius: 4px
        border-bottom-right-radius: 4px
        -moz-border-radius-topright: 4px
        -webkit-border-top-right-radius: 4px
        border-top-right-radius: 4px
        &:before
            content: ""
            float: left
            position: absolute
            top: 0
            left: -12px
            width: 0
            height: 0
            border-color: transparent #0089e0 transparent transparent
            border-style: solid
            border-width: 12px 12px 12px 0
        &:after
            content: ""
            position: absolute
            top: 10px
            left: 0
            float: left
            width: 4px
            height: 4px
            -moz-border-radius: 2px
            -webkit-border-radius: 2px
            border-radius: 2px
            background: #fff
            -moz-box-shadow: -1px -1px 2px #004977
            -webkit-box-shadow: -1px -1px 2px #004977
            box-shadow: -1px -1px 2px #004977
        &:hover
            background: #555
        &:hover:before
            border-color: transparent #555 transparent transparent

#article-footer
    display: inline-block
    font-size: 0.85em
    width: 100%
    a
        color: color-grey
        text-decoration: none
        &:hover
            color: color-default

#share
    display: inline-block

.share-container
    float: right
    
.article-share-link
    float: right
    cursor: pointer
    margin-left: 20px
    .fa-share
        margin-right: 5px

.article-share-box
    background: #fff
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1)
    border-radius: 3px
    overflow: hidden
    z-index: 1

.article-share-input
    width: 100%
    background: none
    box-sizing: border-box
    font: 14px font-sans
    padding: 0 10px
    color: color-default
    outline: none
    border: 1px solid color-border
    border-radius: 3px 3px 0 0
    height: 36px
    line-height: 36px

.article-share-links
    clearfix()
    background: color-background

$article-share-link
    width: 50px
    height: 36px
    display: block
    float: left
    position: relative
    color: #999
    text-shadow: 0 1px #fff
    &:before
        font-size: 20px
        width: 20px
        height: 20px
        position: absolute
        top: 50%
        left: 50%
        margin-top: -10px
        margin-left: -10px
        text-align: center
    &:hover
        color: #fff!important

.article-share-twitter
    @extend $article-share-link !optional
    &:hover
        background: color-twitter
        text-shadow: 0 1px darken(color-twitter, 20%)

.article-share-facebook
    @extend $article-share-link !optional
    &:hover
        background: color-facebook
        text-shadow: 0 1px darken(color-facebook, 20%)

.article-share-pinterest
    @extend $article-share-link !optional
    &:hover
        background: color-pinterest
        text-shadow: 0 1px darken(color-pinterest, 20%)

.article-share-google
    @extend $article-share-link !optional
    &:hover
        background: color-google
        text-shadow: 0 1px darken(color-google, 20%)
