a
    text-decoration:none
    color: #0D9CBE

.highlight
    font-family: monospace
    font-size: 1.5em
    display: block
    overflow-x: auto
    padding: 0.5em
    background: #282828

.highlight, .subst
    color: #ebdbb2

.gutter
    > pre
        padding-right: 0.5em
        border-right: 1px solid grey
        margin-right: 0.5em

.code
    .deletion, .formula, .keyword, .link, .selector-tag
        color: #fb4934

    .built_in, .emphasis, .name, .quote, .strong, .title, .variable
        color: #83a598

    .attr, .params, .template-tag, .type
        color: #fabd2f

    .builtin-name, .doctag, .literal, .number
        color: #8f3f71

    .meta, .code, .regexp, .selector-id, .template-variable
        color: #fe8019

    .addition, .meta-string, .selector-attr, .selector-class, .string, .symbol
        color: #b8bb26

    .attribute, .bullet, .class, .function, .function .keyword, .meta-keyword, .selector-pseudo, .tag
        color: #8ec07c

    .comment
        color: #928374

    .link_label, .literal, .number
        color: #d3869b

    .comment, .emphasis
        font-style: italic

    .section, .string, .tag
        font-weight: bold
