#header
    width: 100%
    height: 5em
    position: fixed
    background-color: rgba(255,255,255,.95)
    top: 0
    left: 0
    z-index: 999
    border-bottom: 1px solid color-light-grey

#header-content
    height: 100%
    margin: 0 2em

#header-left
    height: 100%
    display: inline
    float: left
    text-decoration: none

#header-box
    height: 100%
    display: flex
    align-items: center
    > img
        width: 4em
        height: 4em
        border-radius: 2em

#header-info
    padding-left: 1em

#blog-title
    font-weight: bold
    color: #666

#blog-subtitle
    padding-top: 0.5em
    font-size: 0.8em
    font-weight: 200
    color: black

#header-right
    height: 100%
    display: inline
    padding: 2em 0
    float: right

#header-avatar


#main-nav
    list-style: none
    margin: 0
    padding: 0

.menu-item
    float: left
    > a
        color: black
        text-decoration: none
        &:after
            padding: 0 0.5em
            content: "|"
            color: color-grey
    &:last-child
        > a
            &:after
                content: none
